#ball  {
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(0,191,255);
    
    }
    